build
*.nsys-rep
*.ncu-occ
*.ncu-proj
*.log
*.so
*.pyc
*.exe
*.exp
*.lib
.idea

# Exclude input data directories
input_data/
**/input_data/

# Exclude output data directories
output_data/
**/output_data/
